body, h2, h4 {
    margin: 0;
    padding: 0;
}
body {
    background: url('bg.jpg');
    background-size: cover;
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    font-family: Arial, sans;
}
header {
    z-index: -10;
    position: relative;
    width: 100%;
    height: 170px;
    background-image: url(isd-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
header p {
    position: absolute;
    right: 150px;
    bottom: 5px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
header .important {
    color: #fff;
    background: rgba(255, 255, 255, .2);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    position: absolute;
    left: 140px;
    width: 62px;
    text-align: center;
    top: 0;
}
header p a {
    color: #fff;
    text-decoration: none;
}
header p a:hover {
    text-decoration: underline;
}
thead td {
    background: #111;
    color: #fff;
}
header span, a, h2 {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
.important, nav a, #challenges a, .first td {
    color: #ff7200;
    text-decoration: none;
}
h2 {
    font-variant: small-caps;
    font-weight: normal;
}
legend {
    background: #111;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid #555;
}
table {
    border-spacing: 0;
    width: 100%;
}
td {
    border: 1px dashed #555;
    background: #333;
    padding: 5px;
    border-top: 0;
}
tbody tr:hover td {
    background: #222
}
tbody td:not(:first-child) {
    border-left: 0;
}
thead {
    font-variant: small-caps;
    font-size: 13px;
}
thead td {
    border: 1px solid #555;
}
thead td:not(:first-child) {
    border-left: 0;
}
section {
    float: left;
    width: 400px;
    margin-right: 20px;
}
section:last-child {
    margin-right: 0;
}
#scoreboard td:first-child {
    text-align: center;
    width: 20px;
}
#scoreboard td:last-child, #challenges td:last-child {
    text-align: center;
    width: 30px;
}
#challenges td:nth-child(2) {
    text-align: center;
    width: 60px;
}
#content {
    width: 820px;
    margin: auto;
    position: relative;
}
nav {
    background: #111;
    padding: 5px 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8)
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    top: 35px;
}
nav span {
    color: rgba(255, 255, 255, 0.8);
}
nav a {
    text-decoration: none;
}
fieldset {
    border: 1px dashed #333;
    background: #333;
    padding: 20px;
}
input[type=text], input[type=password], input[type=number], textarea {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #369dd8;
    outline: 0;
    padding: 2px;
    color: rgba(255, 255, 255, 0.8);
    width: 400px;
    margin-bottom: 4px;
}
input[type=submit], .button {
    border: 0;
    padding: 5px 15px;
    background: #369dd8;
    border-radius: 4px;
    margin-top: 10px;
    font-variant: small-caps;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
input[type=submit]:hover, .button:hover {
    box-shadow: 0px 0px 3px #57ffff;
}
.solved {
    text-decoration: line-through;
}
.solved a {
    color: #666 !important;
}
.solved {
    color: #666 !important;
}
.middle {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
}
.register {
    display: block;
    text-align: right;
}
div.main-text {
    padding: 10px 10px 40px;
    text-align: justify;
}
div.main-text pre {
    margin-left: -10px;
}
div.main-text img {
    max-width: 100%;
    background: white;
}
h4 {
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);;
}
p.center {
    text-align: center;
}
.buttons form {
    display: inline;
}
.buttons input, .buttons .button {
    padding: 0;
    margin: 0;
    padding: 0 10px;
    margin-right: 4px;
}
textarea {
    border: 1px dotted #57ff57;
    height: 200px;
}
.top-button {
    text-align: right;
    padding-bottom: 20px;
}
.top-button form {
    display: inline;
}
.top-button input[type=submit] {
    background: #FF9808;
    border: 0;
    outline: 0;
}
.center {
    padding: 20px 0;
}
.center li {
    padding: 10px 0;
}
/* TODO: Directory Listing dieses Ordners ausschalten. Man kann alle Dateien im
         Ordner sehen, wenn man ihn direkt aufruft :-/ */
